@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Book Store</h1>
    <p>Welcome to my Book Store</p>
    <img src="/images/bookstore.jpg" alt="Book Store" style="max-width: 100%; height: auto;" />
</div>
